@import './base';
@import './mixins';

#app {
    font-weight: normal;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@include margins;

@media (min-width: 1024px) {
    #app {
        display: flex;
        justify-content: start;
        width: 100%;
        flex-direction: column;
        position: relative;

        article,
        main {
            width: 100%;
        }
        main {
            min-height: calc(100vh);
            height: auto;
            max-width: 1440px;
            margin: 0 auto;
        }
    }
}
