@use 'sass:list';
@use 'sass:map';

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@mixin flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

// For margins (divide by 8)

@mixin margins {
    $names: (
        '.m': 'margin',
        '.mb': 'margin-bottom',
        '.mt': 'margin-top',
        '.mr': 'margin-right',
        '.ml': 'margin-left'
    );

    @each $name, $style in $names {
        #{$name} {
            @for $i from 0 through 20 {
                &-#{$i*8} {
                    #{$style}: $i * 8 + 0px !important;
                }
            }
        }
    }
}

// For Grid Row and Columns

//@mixin grid_sizes {
//    @for $i from 1 through 12 {
//        &-#{$i} {
//            width: calc((100% / (12 / $i)) - var(--gap) + (var(--gap) / (12 / $i)));
//        }
//    }
//}

// animation of the element if the same value is entered

//$colors: (
//    map.get($theme_colors, 'third'),
//    map.get($theme_colors, 'switcher-active'),
//    map.get($theme_colors, 'dark-secondary'), map.get($theme_colors, 'dark-success'),
//    map.get($theme_colors, 'dark-warning')
//);

//@mixin colors($class_name, $skip) {
//    @each $color in $colors {
//        $index: list.index($colors, $color);
//        &:nth-of-type(#{$skip + $index}) {
//            #{$class_name} {
//                background-color: $color;
//                opacity: 0;
//                animation: colors 0.6s linear calc($index * 0.3s - 0.3s) forwards;
//            }
//        }
//    }
//}

//@keyframes colors {
//    from {
//        opacity: 0;
//        transform: scale(0.1) rotate(calc(var(--prev-percent) * 3.6deg - 90deg));
//    }
//    50% {
//        opacity: 0.5;
//        transform: scale(1.2) rotate(calc(var(--prev-percent) * 3.6deg - 90deg));
//    }
//    99% {
//        opacity: 1;
//        transform: scale(1) rotate(calc(var(--prev-percent) * 3.6deg - 90deg));
//    }
//    to {
//        opacity: 1;
//    }
//}
