$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700
);

$container: (
    'xxxl': 1600px,
    'xxl': 1440px,
    'xl': 1280px,
    'lg': 1024px,
    'md': 768px,
    'sm': 576px,
    'xsm': 375px,
    'xxsm': 310px
);

$container-max-widths: (
    'xxxl': 1440px,
    'xxl': 1320px,
    'xl': 1140px,
    'lg': 960px,
    'md': 720px,
    'sm': 540px
);

$font_sizes: (
    'small': 12px,
    'standard': 14px,
    'h6': 16px,
    'h5': 18px,
    'h4': 20px,
    'h3': 24px,
    'h2': 32px,
    'h1': 48px
);

$theme_colors: (
    'main': #80808a,
    'third': #fa563b,
    'main-background': #133c6c,

    'dark-error': #de5252,
    'error': #e88282,
    'light-error': #fbeaea,

    'dark-success': #279158,
    'success': #81c0a2,
    'light-success': #e7f3ed,

    'dark-warning': #e78618,
    'warning': #f3b467,
    'light-warning': #fdf1e3,

    'dark-secondary': #35a0ff,
    'secondary': #99cfff,
    'light-secondary': #f2f7fd
);
